body
{
    overflow-x: hidden;
}
h1
{

    font-size: 30px;

   
}
.col-md-3
{
    border:solid 2px rgb(87, 86, 86);
    text-align: center;
    padding:5px;
    width: 22%;
   
}

.btn,input
{
    border:solid 2px rgb(87, 86, 86);
 
}




